import torch
import torch.nn as nn
import torchvision

class {{name}}(torch.nn.Module):
    def __init__(self, args):
        super({{name}}, self).__init__()
        self.args = args

        # TODO your code here

    def forward(self, x):
        # TODO your code here
        pass
